
.form__modifyTask{
      display: flex;
        flex-direction: column;
        /* width: 400px; */
        align-items: center;
}


.title__editTask {
  font-size: 1.7rem;
    font-weight: 500;
    margin-top: 10%;
  
    &--title {
      font-size: 1.3rem;
      color: $font-color-secondary;
    }

}


.fieldset {
display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  border: none;
  gap: 15px;
  margin-top: 30px;

&__date {
    font-size: 1.6rem;
    font-weight: 300;
    border: 2px solid #eff3f3;
    color: $font-color-primary;
  }

  &__name {
    font-size: 1.6rem;
    font-weight: 300;
    border: 2px solid #eff3f3;
    color: $font-color-primary;
  }
}

.buttons__form {
  margin-top: 20px;
}

.btn_addTask {
  padding: 5px;
  width: 100px;
  font-size: 1.6rem;
  background-color: $secondary-color;
  color: $principal-color;
  border: none;
  border-radius: 5px;
  font-family: $font-principal;
  cursor:pointer
}

.btn_cancel {
  width: 100px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 1.6rem;
  margin-left: 15px;
  background-color: $principal-color;
  color: $font-color-secondary;
  border: 0.5px solid $secondary-color;
  border-radius: 5px;
  cursor: pointer
}