@import './variables.scss';

.header{
  height: 160px;  
  background-image: url('../wave-haikei.svg');
  position: fixed;
  right: 0px;
  bottom: 0px;
  left: 0px;
  top: 0px;
  
 
  &__title {
    color: $font-color-primary;
    font-size: 2.8rem;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    padding-top: 110px;
    padding-left: 15px;
  }
  &__logout {
    position: absolute;
    right:0px;
    top:0px;
    margin-top: 20px;
    margin-right: 15px;
    width: 50px;
    height: 20px;
    border:none;
    font-size: 1.3rem;
    background-color:$principal-color;
    font-family: $font-principal;
    border-radius: 5px;
  }
}

