@import './variables.scss';
@import './mixins.scss';

.title {
  font-size: 1.8rem;
}
.landing_form {
  background-color: #f9f9fb;
}
.login {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: baseline;
  width: 320px;
  // @include tablet() {
  //   width: 500px;
  // }

  &__option {
    min-width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__title {
    font-size: 3rem;
    padding-bottom: 15px;
  }
  &__text {
    font-size: 1.4rem;
    color: $font-color-primary;
    padding-bottom: 30px;
  }

  &__inputs {
    // width: 390px;
    // display: flex;
    // flex-direction: column;
    // justify-content: space-between;
    margin-bottom: 15px;
  }

  &__email,
  &__password {
    width: 275px;
    font-size: 1.4rem;
    outline-color: $terciary-color;
    color: $font-color-primary;
  }

  &__btn {
    width: 275px;
    height: 35px;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__button {
    padding: 5px;
    width: 155px;
    font-size: 1.6rem;
    color: $principal-color;
    background-color: $secondary-color;
    border: none;
    border-radius: 5px;
    cursor: pointer
  }

  &__register {
    font-size: 1.5rem;
    &--link {
      padding-left: 20px;
      font-size: 1.5rem;
      cursor: pointer
    }
  }
}

.link {
  padding-left: 10px;
}
.login-email-cont {
  display: flex;
  width: 300px;
  justify-content: space-between;
  align-items: center;
}

.label {
  font-size: 1.3rem;
}

