@import './variables.scss';
@import './mixins.scss';


.title{
  font-size: 1.8rem;
}
.register__form {
  background-color: #F9F9FB;
}
.register {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: baseline;
  width: 320px;
  // @include tablet() {
  //   width: 500px;
  // }
  
  &__option {
    min-width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  &__title {
    font-size: 3.0rem;
    padding-bottom: 15px;
  }
  &__text {
    font-size:1.4rem;
    color: $font-color-primary;
    padding-bottom: 10px;

  }
  
  &__inputs{
    // width: 300px;
    // display: flex;
    // justify-content: space-between;
    margin-bottom: 15px;


  }
  
  &__email, &__password, &__name {
    width: 305px;
    font-size: 1.4rem;
    outline-color: $terciary-color;
    color:$font-color-primary;
  }

  &__btn {
    width: 315px;
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    align-items: baseline;
  }


  &__button {
    padding:5px;
    width: 305px;
    font-size: 1.6rem;
    color: $principal-color;
    background-color: $secondary-color;
    border: none;
    border-radius: 5px;
    cursor: pointer
  }


  

}

.server_msg {
  color: #00A676;
  font-weight: bold;
  font-size: 1.3rem;
  padding-bottom: 30px;
}

// .link{
//   padding-left: 30px;
// }
// .login-email-cont {
//   display: flex;
//   width: 300px;
//   justify-content: space-between;
//   align-items: center;
// }

// .label {
//   font-size: 1.3rem;
// }


